**/WAVECAR
8.0_AIMD/beta_bb/OUTCAR
8.0_AIMD/beta_b/OUTCAR
8.0_AIMD/alpha_hh/OUTCAR

8.0_AIMD/beta_bb/vasprun.xml
8.0_AIMD/beta_b/vasprun.xml
8.0_AIMD/alpha_hh/vasprun.xml

# Topology campaign

/2.4_self_consistent/a-Beryllene/WAVECAR
/2.4_self_consistent/a-Beryllium/WAVECAR
/2.4_self_consistent/a-Beryllium_k105/WAVECAR
/2.4_self_consistent/b-Beryllene/WAVECAR
/2.4_self_consistent/c1-Beryllene_monolayer/WAVECAR
/2.4_self_consistent/c2-Beryllene_bilayer/WAVECAR
/2.4_self_consistent/c3-Beryllene_trilayer/WAVECAR
/2.4_self_consistent/c4-Beryllene_quadlayer/WAVECAR
/2.4_self_consistent/g-Beryllene_monolayer/WAVECAR
/2.5_self_consistent_with_hydrogen/a-Beryllene_hh/WAVECAR
/2.5_self_consistent_with_hydrogen/b-Beryllene_h/WAVECAR
/2.5_self_consistent_with_hydrogen/b-Beryllene_hh/WAVECAR
/3.4_phonon_dispersion_with_hydrogen_c_shift/c-Beryllene_hh/OUTCAR
/3.4_phonon_dispersion_with_hydrogen_c_shift/c-Beryllene_th/OUTCAR
/3.4_phonon_dispersion_with_hydrogen_c_shift/c-Beryllene_tt/OUTCAR
/4.0_bandstructure/a-Beryllene/WAVECAR
/4.0_bandstructure/a-Beryllene_hh/WAVECAR
/4.0_bandstructure/b-Beryllene/WAVECAR
/4.0_bandstructure/b-Beryllene_h/WAVECAR
/4.0_bandstructure/b-Beryllene_hh/WAVECAR
/4.0_bandstructure/c3-Beryllene_trilayer/WAVECAR
/5.0_PDoS/a-Beryllene_hh/WAVECAR
/5.0_PDoS/a-Beryllium/PROCAR
/5.0_PDoS/a-Beryllium/vaspout.h5
/5.0_PDoS/a-Beryllium/vasprun.xml
/5.0_PDoS/b-Beryllene_b/WAVECAR
/5.0_PDoS/b-Beryllene_b_spin/PROCAR
/5.0_PDoS/b-Beryllene_bb/WAVECAR
/5.0_PDoS/b-Beryllene_bb_spin/PROCAR
/5.0_PDoS/b-Beryllene_bb_spin/vasprun.xml
/5.0_PDoS/c0-Beryllium/PROCAR
/5.0_PDoS/c0-Beryllium/vaspout.h5
/5.0_PDoS/c0-Beryllium/vasprun.xml
/6.0_dielectric_function/a-Beryllene_128_k27/WAVECAR
/6.0_dielectric_function/a-Beryllene_192_k27/WAVECAR
/6.0_dielectric_function/a-Beryllene_256_k27/WAVECAR
/6.0_dielectric_function/a-Beryllene_64_k27/WAVECAR
/6.0_dielectric_function/a-Beryllene_96_k105/OUTCAR
/6.0_dielectric_function/a-Beryllene_96_k105/WAVECAR
/6.0_dielectric_function/a-Beryllene_96_k15/WAVECAR
/6.0_dielectric_function/a-Beryllene_96_k27/WAVECAR
/6.0_dielectric_function/a-Beryllene_96_k45/WAVECAR
/6.0_dielectric_function/a-Beryllene_96_k75/WAVECAR
/6.0_dielectric_function/a-Beryllene_96_k81/OUTCAR
/6.0_dielectric_function/a-Beryllene_96_k81/WAVECAR
/6.0_dielectric_function/a-Beryllium_128_k27/WAVECAR
/6.0_dielectric_function/a-Beryllium_128_k27/WAVEDER
/6.0_dielectric_function/a-Beryllium_192_k27/WAVECAR
/6.0_dielectric_function/a-Beryllium_192_k27/WAVEDER
/6.0_dielectric_function/a-Beryllium_32_k27/WAVECAR
/6.0_dielectric_function/a-Beryllium_64_k27/WAVECAR
/6.0_dielectric_function/a-Beryllium_64_k45/OUTCAR
/6.0_dielectric_function/a-Beryllium_64_k45/WAVECAR
/6.0_dielectric_function/a-Beryllium_64_k45/WAVEDER
/6.0_dielectric_function/a-Beryllium_64_k75/OUTCAR
/6.0_dielectric_function/a-Beryllium_64_k75/WAVECAR
/6.0_dielectric_function/a-Beryllium_64_k75/WAVEDER
/6.0_dielectric_function/a-Beryllium_96_k27/WAVECAR
/6.0_dielectric_function/a-Beryllium_96_k27/WAVEDER
/6.0_dielectric_function/b-Beryllene_128_k27/WAVECAR
/6.0_dielectric_function/b-Beryllene_192_k27/WAVECAR
/6.0_dielectric_function/b-Beryllene_256_k27/WAVECAR
/6.0_dielectric_function/b-Beryllene_256_k27/WAVEDER
/6.0_dielectric_function/b-Beryllene_64_k27/WAVECAR
/6.0_dielectric_function/b-Beryllene_96_k105/OUTCAR
/6.0_dielectric_function/b-Beryllene_96_k105/WAVECAR
/6.0_dielectric_function/b-Beryllene_96_k15/WAVECAR
/6.0_dielectric_function/b-Beryllene_96_k27/WAVECAR
/6.0_dielectric_function/b-Beryllene_96_k45/WAVECAR
/6.0_dielectric_function/b-Beryllene_96_k75/OUTCAR
/6.0_dielectric_function/b-Beryllene_96_k75/WAVECAR
/6.0_dielectric_function/c0-Beryllium_128_k27/WAVECAR
/6.0_dielectric_function/c0-Beryllium_160_k27/WAVECAR
/6.0_dielectric_function/c0-Beryllium_64_k33/WAVECAR
/6.0_dielectric_function/c0-Beryllium_64_k39/WAVECAR
/6.0_dielectric_function/c0-Beryllium_64_k45/WAVECAR
/6.0_dielectric_function/c0-Beryllium_64_k69/OUTCAR
/6.0_dielectric_function/c0-Beryllium_64_k69/WAVECAR
/6.0_dielectric_function/c0-Beryllium_64_k75/OUTCAR
/6.0_dielectric_function/c0-Beryllium_64_k75/WAVECAR
/6.0_dielectric_function/c0-Beryllium_64_k75/WAVEDER
/6.0_dielectric_function/c0-Beryllium_96_k27/WAVECAR
/6.0_dielectric_function/c3-Beryllene_128_k25/WAVECAR
/6.0_dielectric_function/c3-Beryllene_192_k25/WAVECAR
/6.0_dielectric_function/c3-Beryllene_256_k25/WAVECAR
/6.0_dielectric_function/c3-Beryllene_64_k25/WAVECAR
/6.0_dielectric_function/c3-Beryllene_96_k105/OUTCAR
/6.0_dielectric_function/c3-Beryllene_96_k105/WAVECAR
/6.0_dielectric_function/c3-Beryllene_96_k105/WAVEDER
/6.0_dielectric_function/c3-Beryllene_96_k15/WAVECAR
/6.0_dielectric_function/c3-Beryllene_96_k21/WAVECAR
/6.0_dielectric_function/c3-Beryllene_96_k25/WAVECAR
/6.0_dielectric_function/c3-Beryllene_96_k27/WAVECAR
/6.0_dielectric_function/c3-Beryllene_96_k45/WAVECAR
/6.0_dielectric_function/c3-Beryllene_96_k75/WAVECAR
/6.0_dielectric_selection/a-Beryllene/OUTCAR
/6.0_dielectric_selection/a-Beryllene/WAVECAR
/6.0_dielectric_selection/a-Beryllene_hh/OUTCAR
/6.0_dielectric_selection/a-Beryllene_hh/WAVECAR
/6.0_dielectric_selection/a-Beryllene_hh/WAVEDER
/6.0_dielectric_selection/a-Beryllium/EIGENVAL
/6.0_dielectric_selection/a-Beryllium/OUTCAR
/6.0_dielectric_selection/a-Beryllium/WAVECAR
/6.0_dielectric_selection/a-Beryllium/WAVEDER
/6.0_dielectric_selection/a-Beryllium/vasprun.xml
/6.0_dielectric_selection/b-Beryllene/OUTCAR
/6.0_dielectric_selection/b-Beryllene/WAVECAR
/6.0_dielectric_selection/b-Beryllene/WAVEDER
/6.0_dielectric_selection/b-Beryllene_b/OUTCAR
/6.0_dielectric_selection/b-Beryllene_b/WAVECAR
/6.0_dielectric_selection/b-Beryllene_b/WAVEDER
/6.0_dielectric_selection/b-Beryllene_bb/OUTCAR
/6.0_dielectric_selection/b-Beryllene_bb/WAVECAR
/6.0_dielectric_selection/b-Beryllene_bb/WAVEDER
/6.0_dielectric_selection/c0-Beryllium/OUTCAR
/6.0_dielectric_selection/c0-Beryllium/WAVECAR
/6.0_dielectric_selection/c0-Beryllium/WAVEDER
/6.0_dielectric_selection/c3-Beryllene/OUTCAR
/6.0_dielectric_selection/c3-Beryllene/WAVECAR
/5.0_PDoS/a-Beryllium/vaspout.h5
/5.0_PDoS/a-Beryllium/vasprun.xml
/6.0_dielectric_function/a-Beryllium_64_k45/OUTCAR

# individual topology toolchain
/9.0_topology/packages/soc_topology/wannier90-3.1.0.tar.gz

# Topology calculation files over 99 MB
/9.0_topology/b-Beryllene_b/scf/OUTCAR
/9.0_topology/b-Beryllene_bb/bands/CHGCAR
/9.0_topology/b-Beryllene_bb/gap_refine_1/CHGCAR
/9.0_topology/b-Beryllene_bb/gap_refine_2/CHGCAR
/9.0_topology/b-Beryllene_bb/scf/CHGCAR
/9.0_topology/b-Beryllene_bb/trim/CHGCAR
